<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>DSL Компилятор</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.4/codemirror.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.4/theme/darcula.min.css">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body class="light-mode">

<div class="theme-switch-wrapper">
    <span id="toggle-icon" class="mr-2">☀️</span>
    <label class="theme-switch" for="checkbox">
        <input type="checkbox" id="checkbox"/>
        <div class="slider round"></div>
    </label>
    <span id="toggle-icon-dark" class="ml-2">🌙</span>
</div>

<div class="container-fluid">
    <div class="flex-item" id="editor">
        <h1>Введите ваш DSL код</h1>
        <div class="toolbar">
            <button class="tool-btn" id="drawSquare" title="Квадрат"><i class="fa fa-square"></i></button>
            <button class="tool-btn dropdown-btn" id="drawTriangle" title="Треугольник">
                <i class="fa fa-play"></i>
                <div class="dropdown-content">
                    <a href="#" class="triangle-type" data-type="Equilateral">Равносторонний</a>
                    <a href="#" class="triangle-type" data-type="Isosceles">Равнобедренный</a>
                    <a href="#" class="triangle-type" data-type="Obtuse">Тупоугольный</a>
                    <a href="#" class="triangle-type" data-type="Acute">Остроугольный</a>
                </div>
            </button>

            <button class="tool-btn" id="drawCircle" title="Круг"><i class="fa fa-circle"></i></button>
            <button class="tool-btn" id="drawRectangle" title="Прямоугольник"><i class="fa fa-rectangle-landscape"></i>
            </button>
            <button class="tool-btn" id="drawEllipse" title="Эллипс"><i class="fa fa-ellipsis-h"></i></button>
            <button class="tool-btn" id="drawLine" title="Линия"><i class="fa fa-minus"></i></button>
            <button class="tool-btn" id="drawPolygon" title="Многоугольник"><i class="fa fa-draw-polygon"></i></button>
            <button class="tool-btn" id="drawText" title="Текст"><i class="fa fa-font"></i></button>
            <button class="tool-btn" id="drawSector" title="Сектор"><i class="fa fa-chart-pie"></i></button>
            <button class="tool-btn" id="showGrid" title="Сетка"><i class="fa fa-th"></i></button>
            <button class="tool-btn" id="zoomIn" title="Увеличить"><i class="fa fa-search-plus"></i></button>
            <button class="tool-btn" id="zoomOut" title="Уменьшить"><i class="fa fa-search-minus"></i></button>
            <button class="tool-btn" id="clearCanvas" title="Очистить"><i class="fa fa-trash"></i></button>
            <!-- Color pickers for fill and stroke -->
            <input type="color" id="fillColor" title="Цвет заливки">
            <input type="color" id="strokeColor" title="Цвет контура">
            <input type="range" id="lineWidth" min="1" max="10" title="Толщина линии">
        </div>
        <textarea id="dslCode" class="form-control editor-area" rows="10" placeholder="Введите код здесь..."></textarea><br>
        <button id="compileBtn" class="btn btn-primary btn-compile">Компилировать</button>
    </div>
    <div class="flex-item" id="result">
        <h1>Результат</h1>
        <iframe id="resultFrame" class="result-frame form-control" src="about:blank"></iframe>
        <canvas id="myCanvas" width="800" height="600" style="border:1px solid #000;"></canvas>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.4/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.4/mode/clike/clike.min.js"></script>
<script>

    CodeMirror.defineMode("mydsl", function () {
        return {
            startState: function () {
                return {ctx: "base"};
            },
            token: function (stream, state) {
                if (stream.match(/(Point|Line|Segment|Triangle|Square|Rectangle|Circle|Ellipse|EquilateralTriangle|IsoscelesTriangle)/)) {
                    return "keyword";
                } else if (stream.match(/[a-zA-Z][a-zA-Z0-9]*/)) {
                    return "variable";
                } else if (stream.match(/[-+*\/=]/)) {
                    return "operator";
                } else if (stream.match(/[0-9]+(\.[0-9]+)?/)) {
                    return "number";
                } else if (stream.match(/;.*/)) {
                    return "comment";
                }
                stream.next();
                return null;
            }
        };
    });
    CodeMirror.defineMIME("text/x-mydsl", "mydsl");

    $(document).ready(function () {

        var canvas = document.getElementById('myCanvas');
        var ctx = canvas.getContext('2d');
        var zoomLevel = 1;
        var gridVisible = false;
        var imgPath;

        function loadImage(url) {
            var img = new Image(); // Создаем новый объект Image
            img.onload = function() {
                // Масштабируем холст под размер изображения
                canvas.width = img.width;
                canvas.height = img.height;
                ctx.drawImage(img, 0, 0); // Отрисовываем изображение на холсте
            };
            img.src = url; // Задаем источник изображения
        }

        function drawGrid() {
            var step = 10;
            ctx.strokeStyle = '#DDD';
            ctx.beginPath();
            for (var x = 0; x <= canvas.width; x += step) {
                ctx.moveTo(x, 0);
                ctx.lineTo(x, canvas.height);
            }
            for (var y = 0; y <= canvas.height; y += step) {
                ctx.moveTo(0, y);
                ctx.lineTo(canvas.width, y);
            }
            ctx.stroke();
        }

        function redrawCanvas() {
            clearCanvas();
            ctx.save();
            ctx.scale(zoomLevel, zoomLevel);
            // Redraw your content here. Example:
            loadImage(imgPath);
            ctx.restore();
        }

        function clearCanvas() {
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            if (gridVisible) {
                drawGrid();
            }
        }

        var editor = CodeMirror.fromTextArea(document.getElementById("dslCode"), {
            lineNumbers: true,
            mode: "text/x-mydsl",
            theme: "default"
        });

        $('#compileBtn').on('click', function () {
            var code = editor.getValue();

            $.ajax({
                url: '/compile',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({dslCode: code}),
                success: function (data) {
                    loadImage(data.imagePath);
                    imgPath = data.imagePath;
                    // var resultFrame = $('#resultFrame');
                    // resultFrame.attr('src', data.imagePath);
                    //
                    // resultFrame.on('load', function () {
                    //     try {
                    //         var body = resultFrame.contents().find('body');
                    //         var image = body.find('img');
                    //         console.log("image: ", image);
                    //         var newHeight = image.height();
                    //         console.log("newHeight: ", newHeight);
                    //         resultFrame.height(newHeight + 'px');
                    //     } catch (e) {
                    //         console.error("Ошибка при изменении размера iframe: ", e);
                    //     }
                    // });
                },
                error: function (error) {
                    console.error("Ошибка компиляции: ", error);
                }
            });
        });

        $('#checkbox').change(function () {
            if (this.checked) {
                $('body').addClass('dark-mode').removeClass('light-mode');
                editor.setOption("theme", "darcula");
            } else {
                $('body').addClass('light-mode').removeClass('dark-mode');
                editor.setOption("theme", "default");
            }
        });

        $('#drawSquare').click(function () {
            editor.replaceSelection('Square();\n');
        });
        $('#drawTriangle').click(function () {
            editor.replaceSelection('Point A(0, 0);\n' +
                'Point B(400, 0);\n' +
                'Point C(0, 300);\n' +
                'Triangle t1(A, B, C);\n');
        });
        $('.triangle-type').click(function(e) {
            e.preventDefault();
            e.stopPropagation();
            var type = $(this).data('type');
            editor.replaceSelection(type + ' Triangle();\n');
        });
        $('#drawCircle').click(function () {
            editor.replaceSelection('Circle();\n');
        });
        $('#drawRectangle').click(function () {
            editor.replaceSelection('Rectangle();\n');
        });
        $('#drawEllipse').click(function () {
            editor.replaceSelection('Ellipse();\n');
        });

        $('#drawLine').click(function () {
            editor.replaceSelection('Line();\n');
        });
        $('#drawPolygon').click(function () {
            editor.replaceSelection('Polygon();\n');
        });
        // Add similar event handlers for other buttons
        $('#showGrid').click(function () {
            gridVisible = !gridVisible;
            clearCanvas();
        });

        $('#zoomIn').click(function () {
            zoomLevel *= 1.1;
            redrawCanvas();
        });

        $('#zoomOut').click(function () {
            zoomLevel /= 1.1;
            redrawCanvas();
        });

        $('#clearCanvas').click(function () {
            zoomLevel = 1;
            clearCanvas();
        });
    });
</script>
</body>
</html>
